.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.horizontal-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.horizontal-list li {
  margin-right: 150px; /* 각 항목 사이의 간격 조정 */
}

thead h2 {
  font-size: 24px; /* 원하는 폰트 크기로 조절 */
}

/* 표의 헤더인 <th> 요소의 폰트 크기 조절 */
thead th {
  font-size: 20px; /* 원하는 폰트 크기로 조절 */
}


tbody th,
tbody td {
  font-size: 15px; /* 원하는 폰트 크기로 조절 */
}


/*
font-family : 적용하고자 하는 폰트의 이름
font-style : 폰트의 기본 스타일 (선택사항)
font-weight : 폰트의 기본 굵기 (선택사항)
src : 해당 폰트 파일의 위치
url : 경로
format : 폰트 파일 형식
*/

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

.nanum-gothic{ font-family: 'Nanum Gothic', sans-serif;}


.nanum-gothic{ font-family: 'Nanum Gothic', sans-serif;}